<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Trustbook - Construction Architecture Renovate  Template</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!-- lodaer  -->
        <div class="loader-wrap">
            <div class="loader-spin"><span></span></div>
        </div>
        <!-- loader end  -->
        <!--  main   -->
        <div id="main">
            <!--  header-top  -->
            <div class="header-top">
                <div class="container">
                    <a class="top-header-logo" href="index.html"></a>		
                    <!-- nav-button-wrap-->
                    <div class="nav-button-wrap">
                        <div class="nav-button">
                            <span></span><span></span><span></span>
                        </div>
                    </div>
                    <!-- nav-button-wrap end-->												
                    <div class="header-search_btn"><i class="fa fa-search transition"></i> </div>
                    <!-- lang-wrap-->
                    <div class="lang-wrap">
                        <div class="show-lang"><span><i class="fa-thin fa-language"></i><strong>En</strong></span><i class="fa fa-caret-down arrlan"></i></div>
                        <ul class="lang-tooltip lang-action no-list-style">
                            <li><a href="#" class="current-lan" data-lantext="En">English</a></li>
                            <li><a href="#" data-lantext="Fr">Franais</a></li>
                            <li><a href="#" data-lantext="Es">Espaol</a></li>
                            <li><a href="#" data-lantext="De">Deutsch</a></li>
                        </ul>
                    </div>
                    <!-- lang-wrap end--> 						
                    <div class="header-social">
                        <ul>
                            <li> <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a> </li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <!-- share button--> 	
                    <div class="share-button showshare">
                        <span>Share</span><i class="fa-regular fa-up-right-from-square"></i>
                    </div>
                    <!-- share button end-->											
                </div>
                <div class="share-holder isShare">
                    <div class="share-container"></div>
                </div>
                <!-- header-search-wrap -->
                <div class="header-search-wrap">
                    <div class="widget-inner">
                        <form action="#">
                            <input name="se" id="se" type="text" class="search" placeholder="Search...">
                            <button class="search-submit" id="submit_btn"><i class="fal fa-search transition"></i> </button>
                        </form>
                    </div>
                </div>
                <!-- header-search-wrap end -->							
            </div>
            <!--  header-top end -->
            <!-- header -->
            <header class="main-header">
                <div class="header-container">
                    <div class="header-inner">
                        <a href="index.html" class="logo-holder"> <img src="images/logo3.png" alt=""> </a>
                        <!--  navigation -->
                        <div class="nav-title">Menu</div>
                        <div class="nav-holder main-menu">
                            <nav class="nav-inner" id="menu-init">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-light fa-house"></i>Home</a>
                                        <!--second level -->
                                        <ul>
                                            <li><a href="index.html">Slider</a></li>
                                            <li><a href="index2.html">Carousel</a></li>
                                            <li><a href="index3.html">Slideshow</a></li>
                                            <li><a href="index4.html">Video</a></li>
                                            <li><a href="onepage.html">One Page</a></li>
                                        </ul>
                                        <!--second level end-->
                                    </li>
                                    <li><a href="about.html"><i class="fa-light fa-file-circle-info"></i>About</a></li>
                                    <li><a href="services.html"><i class="fa-light fa-trowel-bricks"></i>Services</a></li>
                                    <li>
                                        <a href="#"><i class="fa-light fa-house"></i>Projects</a>
                                        <!--second level -->
                                        <ul>
                                            <li><a href="portfolio.html">Projects</a></li>
                                            <li><a href="portfolio2.html">Projects 2</a></li>
                                            <li><a href="portfolio3.html">Projects 3</a></li>
                                            <li><a href="portfolio-single.html">Project single</a></li>
                                            <li><a href="portfolio-single2.html">Project single 2</a></li>
                                            <li><a href="portfolio-single3.html">Project single 3</a></li>
                                            <li><a href="portfolio-single4.html">Project single 4</a></li>
                                        </ul>
                                        <!--second level end-->
                                    </li>
                                    <li><a href="contact.html"><i class="fa-light fa-envelopes-bulk"></i>Contact</a></li>
                                    <li>
                                        <a href="#"><i class="fa-light fa-file-lines"></i>Pages</a>
                                        <!--second level -->
                                        <ul>
                                            <li><a href="services-single.html">Services single</a></li>
                                            <li><a href="blog-single.html">Blog single</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                            <li><a href="404.html">404</a></li>
                                        </ul>
                                        <!--second level end-->
                                    </li>
                                    <li><a href="blog.html" class="act-link"><i class="fa-light fa-credit-card-front"></i>News</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- navigation  end -->
                        <div class="nav-title">Contacts</div>
                        <div class="header-contact">
                            <ul>
                                <li><i class="fa-light fa-envelope"></i><a href="mailto:yourmail@domain.com"> yourmail@domain.com</a></li>
                                <li><i class="fa-light fa-location-dot"></i><a href="https://goo.gl/maps/dj5UaNJFkJ6rLNJy9" target="_blank"> 27th Brooklyn New York, NY 10065</a></li>
                                <li><i class="fa-light fa-phone-rotary"></i><a href="tel:+9(111)123456789"> +7(111)123456789</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="contact.html" class="header_btn"><span>Request a Quote</span></a>
            </header>
            <!-- header end  -->	
            <!-- wrapper -->	
            <div class="wrapper">
                <!-- section -->
                <div class="section hero-section">
                    <div class="bg-wrap-container" data-scrollax-parent="true">
                        <div class="bg bg-parallax" data-bg="images/bg/1.jpg"  data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                    </div>
                    <div class="container">
                        <div class="hero-section-title">
                            <h5>stay informed</h5>
                            <h2>Our last news And Updates</h2>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="content">
                    <!--content-box-->
                    <div class="content-box">
                        <!-- breadcrumbs-wrap  -->
                        <div class="breadcrumbs">
                            <div class="container">
                                <div class="breadcrumbs-wrap">
                                    <a href="#">Home</a><a href="#">Pages</a><span>Our News</span> 
                                </div>
                                <div class="hs-scroll-down-wrap">
                                    <div class="scroll-down-item">
                                        <span>Scroll Down To Discover</span>
                                        <div class="mousey">
                                            <div class="scroller"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--breadcrumbs-wrap end  -->				
                        <!--section -->
                        <div class="section">
                            <div class="container">
                                <div class="boxed-content">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="post-container">
                                                <div class="post-items">
                                                    <!-- post-item-->
                                                    <div class="post-item">
                                                        <div class="post-item_wrap">
                                                            <div class="post-item_media">
                                                                <a href="blog-single.html">
                                                                <img src="images/all/1.jpg" alt="">
                                                                </a>
                                                                <ul class="post_header_cat">
                                                                    <li><a href="#" class="cat-opt">Rooms</a></li>
                                                                    <li><a href="#" class="cat-opt">House</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="post-item_content">
                                                                <h3><a href="blog-single.html">Wood Nature Trip</a></h3>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                                                <div class="post-card-details">
                                                                    <ul>
                                                                        <li><i class="fa-light fa-calendar-days"></i><span>March 10, 2024</span></li>
                                                                        <li><i class="fa-light fa-comment"></i><span>2 comments</span></li>
                                                                    </ul>
                                                                </div>
                                                                <a href="blog-single.html" class="post-card_link">View Details <i class="fa-solid fa-caret-right"></i></a>
                                                                <div class="pv-item_wrap"><i class="fa-light fa-glasses"></i><span> Viewed - <strong>335</strong></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- post-item end-->
                                                    <!-- post-item-->
                                                    <div class="post-item">
                                                        <div class="post-item_wrap">
                                                            <div class="post-item_media">
                                                                <a href="blog-single.html">
                                                                <img src="images/all/1.jpg" alt="">
                                                                </a>
                                                                <ul class="post_header_cat">
                                                                    <li><a href="#" class="cat-opt">Rooms</a></li>
                                                                    <li><a href="#" class="cat-opt">House</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="post-item_content">
                                                                <h3><a href="blog-single.html">How to Book a Room online</a></h3>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                                                <div class="post-card-details">
                                                                    <ul>
                                                                        <li><i class="fa-light fa-calendar-days"></i><span>September 10, 2023</span></li>
                                                                        <li><i class="fa-light fa-comment"></i><span>0 comments</span></li>
                                                                    </ul>
                                                                </div>
                                                                <a href="blog-single.html" class="post-card_link">View Details <i class="fa-solid fa-caret-right"></i></a>
                                                                <div class="pv-item_wrap"><i class="fa-light fa-glasses"></i><span> Viewed - <strong>59</strong></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- post-item end-->									
                                                    <!-- post-item-->
                                                    <div class="post-item">
                                                        <div class="post-item_wrap">
                                                            <div class="post-item_media">
                                                                <a href="blog-single.html">
                                                                <img src="images/all/1.jpg" alt="">
                                                                </a>
                                                                <ul class="post_header_cat">
                                                                    <li><a href="#" class="cat-opt">Rooms</a></li>
                                                                    <li><a href="#" class="cat-opt">House</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="post-item_content">
                                                                <h3><a href="blog-single.html">Connecting the Lost</a></h3>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                                                <div class="post-card-details">
                                                                    <ul>
                                                                        <li><i class="fa-light fa-calendar-days"></i><span>August 10, 2023</span></li>
                                                                        <li><i class="fa-light fa-comment"></i><span>1 comments</span></li>
                                                                    </ul>
                                                                </div>
                                                                <a href="blog-single.html" class="post-card_link">View Details <i class="fa-solid fa-caret-right"></i></a>
                                                                <div class="pv-item_wrap"><i class="fa-light fa-glasses"></i><span> Viewed - <strong>432</strong></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- post-item end-->
                                                    <!-- post-item-->
                                                    <div class="post-item">
                                                        <div class="post-item_wrap">
                                                            <div class="post-item_media">
                                                                <a href="blog-single.html">
                                                                <img src="images/all/1.jpg" alt="">
                                                                </a>
                                                                <ul class="post_header_cat">
                                                                    <li><a href="#" class="cat-opt">Rooms</a></li>
                                                                    <li><a href="#" class="cat-opt">House</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="post-item_content">
                                                                <h3><a href="blog-single.html">The Beauty in the Calm</a></h3>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                                                <div class="post-card-details">
                                                                    <ul>
                                                                        <li><i class="fa-light fa-calendar-days"></i><span>March 10, 2023</span></li>
                                                                        <li><i class="fa-light fa-comment"></i><span>3 comments</span></li>
                                                                    </ul>
                                                                </div>
                                                                <a href="blog-single.html" class="post-card_link">View Details <i class="fa-solid fa-caret-right"></i></a>
                                                                <div class="pv-item_wrap"><i class="fa-light fa-glasses"></i><span> Viewed - <strong>112</strong></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- post-item end-->										
                                                    <!-- post-item-->
                                                    <div class="post-item">
                                                        <div class="post-item_wrap">
                                                            <div class="post-item_media">
                                                                <a href="blog-single.html">
                                                                <img src="images/all/1.jpg" alt="">
                                                                </a>
                                                                <ul class="post_header_cat">
                                                                    <li><a href="#" class="cat-opt">Rooms</a></li>
                                                                    <li><a href="#" class="cat-opt">House</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="post-item_content">
                                                                <h3><a href="blog-single.html">Wood Nature Trip</a></h3>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                                                <div class="post-card-details">
                                                                    <ul>
                                                                        <li><i class="fa-light fa-calendar-days"></i><span>September 10, 2023</span></li>
                                                                        <li><i class="fa-light fa-comment"></i><span>4 comments</span></li>
                                                                    </ul>
                                                                </div>
                                                                <a href="blog-single.html" class="post-card_link">View Details <i class="fa-solid fa-caret-right"></i></a>
                                                                <div class="pv-item_wrap"><i class="fa-light fa-glasses"></i><span> Viewed - <strong>79</strong></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- post-item end-->	
                                                    <!-- post-item-->
                                                    <div class="post-item">
                                                        <div class="post-item_wrap">
                                                            <div class="post-item_media">
                                                                <a href="blog-single.html">
                                                                <img src="images/all/1.jpg" alt="">
                                                                </a>
                                                                <ul class="post_header_cat">
                                                                    <li><a href="#" class="cat-opt">Rooms</a></li>
                                                                    <li><a href="#" class="cat-opt">House</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="post-item_content">
                                                                <h3><a href="blog-single.html">Snowy Mountains Journey</a></h3>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                                                <div class="post-card-details">
                                                                    <ul>
                                                                        <li><i class="fa-light fa-calendar-days"></i><span>August 10, 2023</span></li>
                                                                        <li><i class="fa-light fa-comment"></i><span>6 comments</span></li>
                                                                    </ul>
                                                                </div>
                                                                <a href="blog-single.html" class="post-card_link">View Details <i class="fa-solid fa-caret-right"></i></a>
                                                                <div class="pv-item_wrap"><i class="fa-light fa-glasses"></i><span> Viewed - <strong>56</strong></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- post-item end-->									
                                                </div>
                                                <!-- pagination-->
                                                <div class="pagination-wrap">
                                                    <div class="pagination float-pagination">
                                                        <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                                                        <a href="#" >1</a>
                                                        <a href="#" class="current-page">2</a>
                                                        <a href="#">3</a>
                                                        <a href="#">4</a>
                                                        <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                                                    </div>
                                                    <div class="load-more_btn"><i class="fa-solid fa-arrows-spin"></i>Load More</div>
                                                </div>
                                                <!-- pagination end-->								
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <!--boxed-container-->
                                            <div class="sb-container fixed-bar">
                                                <!-- main-sidebar-widget-->   
                                                <div class="main-sidebar-widget">
                                                    <div class="search-widget">
                                                        <form action="#">
                                                            <input name="se" id="se2" type="text" class="search-inpt-item" placeholder="Search.." value="Search...">
                                                            <button class="search-submit color-bg" id="submit_btn2"><i class="fa-regular fa-magnifying-glass"></i> </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- main-sidebar-widget end-->
                                                <!--boxed-content-->
                                                <div class="boxed-content">
                                                    <!--boxed-content-title-->
                                                    <h3 class="bold-text">Recent Posts<span class="bt_dec"></span></h3>
                                                    <!--boxed-content-title end-->
                                                    <!--boxed-content-item-->
                                                    <div class="boxed-content-item bc-item_smal_pad">
                                                        <div class="recent-post-widget">
                                                            <ul>
                                                                <li>
                                                                    <div class="recent-post-img"><a href="#"><img src="images/all/1.jpg" alt=""></a></div>
                                                                    <div class="recent-post-content">
                                                                        <h4><a href="#">How to Book a Room online</a></h4>
                                                                        <div class="recent-post-opt">
                                                                            <span class="post-date">March 10, 2024</span> 
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="recent-post-img"><a href="#"><img src="images/all/1.jpg" alt=""></a></div>
                                                                    <div class="recent-post-content">
                                                                        <h4><a href="#">Snowy Mountains Trip</a></h4>
                                                                        <div class="recent-post-opt">
                                                                            <span class="post-date">August 10, 2023</span> 
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="recent-post-img"><a href="#"><img src="images/all/1.jpg" alt=""></a></div>
                                                                    <div class="recent-post-content">
                                                                        <h4><a href="#">Traveller on our Hotel</a></h4>
                                                                        <div class="recent-post-opt">
                                                                            <span class="post-date">September 10, 2023</span> 
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--boxed-content-item end-->
                                                </div>
                                                <!--boxed-content end-->									
                                                <!--boxed-content-->
                                                <div class="boxed-content">
                                                    <!--boxed-content-title-->
                                                    <h3 class="bold-text">Property Tags<span class="bt_dec"></span></h3>
                                                    <!--boxed-content-title end-->												
                                                    <!--boxed-content-item-->
                                                    <div class="boxed-content-item bc-item_smal_pad">
                                                        <div class="tags-widget">
                                                            <a href="#">Hotel</a>
                                                            <a href="#">Hostel</a>
                                                            <a href="#">Room</a>
                                                            <a href="#">Spa</a>
                                                            <a href="#">Restourant</a>
                                                            <a href="#">Parking</a>
                                                        </div>
                                                    </div>
                                                    <!--boxed-content-item end-->
                                                </div>
                                                <!--boxed-content end-->									
                                                <!--boxed-content-->
                                                <div class="boxed-content">
                                                    <div class="post-banner-widget">
                                                        <div class="bg-wrap fs-wrapper bg-parallax-wrap-gradien">
                                                            <div class="bg  " data-bg="images/bg/1.jpg"></div>
                                                        </div>
                                                        <div class="post-banner-widget_content">
                                                            <h5>Do you want to sell your home quickly and efficiently?</h5>
                                                            <a href="add-listing.html" >Add Your Property</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--boxed-content-item end-->
                                                <!--boxed-content-->
                                                <div class="boxed-content">
                                                    <!--boxed-content-title-->
                                                    <h3 class="bold-text">Categories<span class="bt_dec"></span></h3>
                                                    <!--boxed-content-title end-->	
                                                    <!--boxed-content-item-->
                                                    <div class="boxed-content-item bc-item_smal_pad">
                                                        <div class="category-widget">
                                                            <ul class="cat-item">
                                                                <li><a href="#">Hotel</a><span>12</span></li>
                                                                <li><a href="#">Video</a><span>21</span></li>
                                                                <li><a href="#">Travel</a><span>8</span></li>
                                                                <li><a href="#">Photos</a><span>9</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--boxed-content-item end-->
                                                </div>
                                                <!--boxed-content end-->									
                                                <!--boxed-content-->
                                                <div class="boxed-content">
                                                    <!--boxed-content-title-->
                                                    <h3 class="bold-text">Social Widget<span class="bt_dec"></span></h3>
                                                    <!--boxed-content-title end-->											
                                                    <!--boxed-content-item-->
                                                    <div class="boxed-content-item bc-item_smal_pad">
                                                        <div class="social-widget">
                                                            <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a> 
                                                            <a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a> 
                                                            <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a> 
                                                            <a href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                                                            <a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                                        </div>
                                                    </div>
                                                    <!--boxed-content-item end-->
                                                </div>
                                                <!--boxed-content end-->									
                                            </div>
                                        </div>
                                    </div>
                                    <div class="limit-box"></div>
                                    <div class="bc_dec-line_h"></div>
                                    <div class="bc_dec-line_v"></div>
                                    <div class="limit-box"></div>
                                </div>
                                <div class="section-dec fs-wrapper">
                                    <div class="section-dec-top"></div>
                                    <div class="section-dec-border"></div>
                                    <div class="section-dec-bottom"></div>
                                    <div class="section-dec-top_line"></div>
                                    <div class="section-dec-bottom_line"></div>
                                </div>
                            </div>
                        </div>
                        <!--section end-->
                    </div>
                    <!-- content-box end -->
                    <div class="content-dec">
                        <div class="container">
                            <div class="content-dec-item">	<span></span>	</div>
                        </div>
                    </div>
                </div>
                <!-- content end -->
                <!-- footer -->
                <div class="height-emulator"></div>
                <footer class="main-footer">
                    <!-- footer-inner -->
                    <div class="footer-inner ">
                        <div class="container">
                            <div class="footer-inner-wrap">
                                <div class="row">
                                    <!-- footer-widget-->
                                    <div class="col-lg-4">
                                        <div class="footer-widget">
                                            <div class="footer-header fl-wrap"><span>01.</span> About US</div>
                                            <div class="footer_text  footer-box ">
                                                <p>Our team takes over everything, from an idea and concept development to realization. We believe in traditions and incorporate them within our innovations.Client is the soul of the project. Aiusmod tempor incididunt ut labore sed dolore magna .</p>
                                                <div class="footer-solcial">
                                                    <ul>
                                                        <li> <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a> </li>
                                                        <li><a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- footer-widget end-->
                                    <!-- footer-widget-->
                                    <div class="col-lg-4">
                                        <div class="footer-widget">
                                            <div class="footer-header fl-wrap"><span>02.</span> Contacts</div>
                                            <!-- footer-contacts-->
                                            <div class="footer-contacts footer-box ">
                                                <ul>
                                                    <li><span>Call:</span><a href="#">+489756412322</a></li>
                                                    <li><span>Write  :</span><a href="#">yourmail@domain.com</a></li>
                                                    <li><span>Find us : </span><a href="#">USA 27TH Brooklyn NY</a></li>
                                                </ul>
                                            </div>
                                            <!-- footer contacts end -->
                                            <a href="contact.html" class="fc_button">Get In Touch <i class="fa-light fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- footer-widget end-->
                                    <!-- footer-widget-->
                                    <div class="col-lg-4">
                                        <div class="footer-widget">
                                            <div class="footer-header "><span>03.</span> Subscribe</div>
                                            <div class="footer-box fl-wrap">
                                                <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
                                                <div class="subcribe-form ">
                                                    <form id="subscribe" class="subcribe-form_item">
                                                        <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                                                        <button type="submit" id="subscribe-button" class="subscribe-button">Send</button>
                                                        <label for="subscribe-email" class="subscribe-message"></label>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- footer-widget end-->
                                </div>
                            </div>
                        </div>
                        <!-- footer-inner end -->
                        <div class="footer-title-dec"><span>Trustbook  Construction</span> </div>
                        <div class="footer-inner_dec footer-inner_dec-left"></div>
                        <div class="footer-inner_dec footer-inner_dec-right"></div>
                    </div>
                    <!-- subbfooter -->
                    <div class="subbfooter">
                        <div class="container">
                            <div class="policy-box">
                                <span> &#169;  Trustbook 2025  /  All rights reserved. </span>
                            </div>
                            <div class="to-top-btn to-top">Back to top<i class="fal fa-long-arrow-up"></i></div>
                            <div class="subbfooter_dec"></div>
                        </div>
                    </div>
                    <!-- subbfooter end -->						
                </footer>
                <!-- footer end -->			
            </div>
            <!-- wrapper end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
    </body>
</html>