<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Trustbook - Construction Architecture Renovate  Template</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!-- lodaer  -->
        <div class="loader-wrap">
            <div class="loader-spin"><span></span></div>
        </div>
        <!-- loader end  -->
        <!--  main   -->
        <div id="main">
            <!--  header-top  -->
            <div class="header-top">
                <div class="container">
                    <a class="top-header-logo" href="index.html"></a>		
                    <!-- nav-button-wrap-->
                    <div class="nav-button-wrap">
                        <div class="nav-button">
                            <span></span><span></span><span></span>
                        </div>
                    </div>
                    <!-- nav-button-wrap end-->												
                    <div class="header-search_btn"><i class="fa fa-search transition"></i> </div>
                    <!-- lang-wrap-->
                    <div class="lang-wrap">
                        <div class="show-lang"><span><i class="fa-thin fa-language"></i><strong>En</strong></span><i class="fa fa-caret-down arrlan"></i></div>
                        <ul class="lang-tooltip lang-action no-list-style">
                            <li><a href="#" class="current-lan" data-lantext="En">English</a></li>
                            <li><a href="#" data-lantext="Fr">Franais</a></li>
                            <li><a href="#" data-lantext="Es">Espaol</a></li>
                            <li><a href="#" data-lantext="De">Deutsch</a></li>
                        </ul>
                    </div>
                    <!-- lang-wrap end--> 						
                    <div class="header-social">
                        <ul>
                            <li> <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a> </li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <!-- share button--> 	
                    <div class="share-button showshare">
                        <span>Share</span><i class="fa-regular fa-up-right-from-square"></i>
                    </div>
                    <!-- share button end-->											
                </div>
                <div class="share-holder isShare">
                    <div class="share-container"></div>
                </div>
                <!-- header-search-wrap -->
                <div class="header-search-wrap">
                    <div class="widget-inner">
                        <form action="#">
                            <input name="se" id="se" type="text" class="search" placeholder="Search...">
                            <button class="search-submit" id="submit_btn"><i class="fal fa-search transition"></i> </button>
                        </form>
                    </div>
                </div>
                <!-- header-search-wrap end -->							
            </div>
            <!--  header-top end -->
            <!-- header -->
            <header class="main-header">
                <div class="header-container">
                    <div class="header-inner">
                        <a href="index.html" class="logo-holder"> <img src="images/logo3.png" alt=""> </a>
                        <!--  navigation -->
                        <div class="nav-title">Menu</div>
                        <div class="nav-holder main-menu">
                            <nav class="nav-inner" id="menu-init">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-light fa-house"></i>Home</a>
                                        <!--second level -->
                                        <ul>
                                            <li><a href="index.html">Slider</a></li>
                                            <li><a href="index2.html">Carousel</a></li>
                                            <li><a href="index3.html">Slideshow</a></li>
                                            <li><a href="index4.html">Video</a></li>
                                            <li><a href="onepage.html">One Page</a></li>
                                        </ul>
                                        <!--second level end-->
                                    </li>
                                    <li><a href="about.html"><i class="fa-light fa-file-circle-info"></i>About</a></li>
                                    <li><a href="services.html" class="act-link"><i class="fa-light fa-trowel-bricks"></i>Services</a></li>
                                    <li>
                                        <a href="#"><i class="fa-light fa-house"></i>Projects</a>
                                        <!--second level -->
                                        <ul>
                                            <li><a href="portfolio.html">Projects</a></li>
                                            <li><a href="portfolio2.html">Projects 2</a></li>
                                            <li><a href="portfolio3.html">Projects 3</a></li>
                                            <li><a href="portfolio-single.html">Project single</a></li>
                                            <li><a href="portfolio-single2.html">Project single 2</a></li>
                                            <li><a href="portfolio-single3.html">Project single 3</a></li>
                                            <li><a href="portfolio-single4.html">Project single 4</a></li>
                                        </ul>
                                        <!--second level end-->
                                    </li>
                                    <li><a href="contact.html"><i class="fa-light fa-envelopes-bulk"></i>Contact</a></li>
                                    <li>
                                        <a href="#"><i class="fa-light fa-file-lines"></i>Pages</a>
                                        <!--second level -->
                                        <ul>
                                            <li><a href="services-single.html">Services single</a></li>
                                            <li><a href="blog-single.html">Blog single</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                            <li><a href="404.html">404</a></li>
                                        </ul>
                                        <!--second level end-->
                                    </li>
                                    <li><a href="blog.html"><i class="fa-light fa-credit-card-front"></i>News</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- navigation  end -->
                        <div class="nav-title">Contacts</div>
                        <div class="header-contact">
                            <ul>
                                <li><i class="fa-light fa-envelope"></i><a href="mailto:yourmail@domain.com"> yourmail@domain.com</a></li>
                                <li><i class="fa-light fa-location-dot"></i><a href="https://goo.gl/maps/dj5UaNJFkJ6rLNJy9" target="_blank"> 27th Brooklyn New York, NY 10065</a></li>
                                <li><i class="fa-light fa-phone-rotary"></i><a href="tel:+9(111)123456789"> +7(111)123456789</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="contact.html" class="header_btn"><span>Request a Quote</span></a>
            </header>
            <!-- header end  -->
            <!-- wrapper -->	
            <div class="wrapper">
                <!-- section -->
                <div class="section hero-section">
                    <div class="bg-wrap-container" data-scrollax-parent="true">
                        <div class="bg bg-parallax" data-bg="images/bg/1.jpg"  data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                    </div>
                    <div class="container">
                        <div class="hero-section-title">
                            <h5>How we Works</h5>
                            <h2>our services and offers</h2>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            <div class="subbfooter_dec"></div>
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="content">
                    <!--content-box-->
                    <div class="content-box">
                        <!-- breadcrumbs-wrap  -->
                        <div class="breadcrumbs">
                            <div class="container">
                                <div class="breadcrumbs-wrap">
                                    <a href="#">Home</a><a href="#">Pages</a><span>Services</span> 
                                </div>
                                <div class="hs-scroll-down-wrap">
                                    <div class="scroll-down-item">
                                        <span>Scroll Down To Discover</span>
                                        <div class="mousey">
                                            <div class="scroller"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--breadcrumbs-wrap end  -->					
                        <!--section -->
                        <div class="section">
                            <div class="container">
                                <div class="boxed-content">
                                    <div class="main-section_text-block">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>What We Do</h4>
                                                <h2>We Offer Smarter & More Affordable Access To  <br> Construction     and Architecture Services. <br>   We Are Trustbook.</h2>
                                            </div>
                                            <div class="col-md-6">
                                                <p style="margin-top: 40px">Aiusmod tempor incididunt ut labore sed dolore magna aliquay dnim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea reprehen deritin voluptate.</p>
                                                <p>Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Curabitur convallis fringilla diam sed aliquam. Aiusmod tempor incididunt ut labore sed dolore magna aliquay dnim ad minim veniam quis nostrud.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cards-wrap">
                                        <div class="row">
                                            <!--card item -->
                                            <div class="col-lg-4">
                                                <a class="content-inner" href="services-single.html">
                                                    <div class="content-front">
                                                        <div class="cf-inner">
                                                            <div class="inner">
                                                                <div class="dec-icon">
                                                                    <i class="fa-light fa-trowel-bricks"></i>
                                                                </div>
                                                                <h2>Interior Renovation</h2>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                                                            </div>
                                                            <div class="serv-num">01.</div>
                                                            <div class="cf-inner_dec"></div>
                                                        </div>
                                                    </div>
                                                    <div class="content-back">
                                                        <div class="bg " data-bg="images/services/1.jpg"></div>
                                                        <div class="overlay"></div>
                                                        <div class="inner">
                                                            <span class="cf-inner_title color-bg">Read more</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--card item end -->
                                            <!--card item -->
                                            <div class="col-lg-4">
                                                <a class="content-inner" href="services-single.html">
                                                    <div class="content-front">
                                                        <div class="cf-inner">
                                                            <div class="inner">
                                                                <div class="dec-icon">
                                                                    <i class="fa-light fa-truck-plow"></i>
                                                                </div>
                                                                <h2>General Contracting</h2>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                                                            </div>
                                                            <div class="serv-num">02.</div>
                                                            <div class="cf-inner_dec"></div>
                                                        </div>
                                                    </div>
                                                    <div class="content-back">
                                                        <div class="bg " data-bg="images/services/1.jpg"></div>
                                                        <div class="overlay"></div>
                                                        <div class="inner">
                                                            <span class="cf-inner_title color-bg">Read more</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--card item end -->
                                            <!--card item -->
                                            <div class="col-lg-4">
                                                <a class="content-inner" href="services-single.html">
                                                    <div class="content-front">
                                                        <div class="cf-inner">
                                                            <div class="inner">
                                                                <div class="dec-icon">
                                                                    <i class="fa-regular fa-ruler-triangle"></i>
                                                                </div>
                                                                <h2>Design and Build</h2>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                                                            </div>
                                                            <div class="serv-num">03.</div>
                                                            <div class="cf-inner_dec"></div>
                                                        </div>
                                                    </div>
                                                    <div class="content-back">
                                                        <div class="bg " data-bg="images/services/1.jpg"></div>
                                                        <div class="overlay"></div>
                                                        <div class="inner">
                                                            <span class="cf-inner_title color-bg">Read more</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--card item end -->
                                            <!--card item -->
                                            <div class="col-lg-4">
                                                <a class="content-inner" href="services-single.html">
                                                    <div class="content-front">
                                                        <div class="cf-inner">
                                                            <div class="inner">
                                                                <div class="dec-icon">
                                                                    <i class="fa-light fa-bed-front"></i>
                                                                </div>
                                                                <h2>General Contracting</h2>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                                                            </div>
                                                            <div class="serv-num">04.</div>
                                                            <div class="cf-inner_dec"></div>
                                                        </div>
                                                    </div>
                                                    <div class="content-back">
                                                        <div class="bg " data-bg="images/services/1.jpg"></div>
                                                        <div class="overlay"></div>
                                                        <div class="inner">
                                                            <span class="cf-inner_title color-bg">Read more</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--card item end -->
                                            <!--card item -->
                                            <div class="col-lg-4">
                                                <a class="content-inner" href="services-single.html">
                                                    <div class="content-front">
                                                        <div class="cf-inner">
                                                            <div class="inner">
                                                                <div class="dec-icon">
                                                                    <i class="fa-light fa-house-building"></i>
                                                                </div>
                                                                <h2>Architecture Design</h2>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                                                            </div>
                                                            <div class="serv-num">05.</div>
                                                            <div class="cf-inner_dec"></div>
                                                        </div>
                                                    </div>
                                                    <div class="content-back">
                                                        <div class="bg " data-bg="images/services/1.jpg"></div>
                                                        <div class="overlay"></div>
                                                        <div class="inner">
                                                            <span class="cf-inner_title color-bg">Read more</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--card item end -->								
                                            <!--card item -->
                                            <div class="col-lg-4">
                                                <a class="content-inner" href="services-single.html">
                                                    <div class="content-front">
                                                        <div class="cf-inner">
                                                            <div class="inner">
                                                                <div class="dec-icon">
                                                                    <i class="fa-light fa-flask-gear"></i>
                                                                </div>
                                                                <h2>Building Engineering</h2>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</p>
                                                            </div>
                                                            <div class="serv-num">06.</div>
                                                            <div class="cf-inner_dec"></div>
                                                        </div>
                                                    </div>
                                                    <div class="content-back">
                                                        <div class="bg " data-bg="images/services/1.jpg"></div>
                                                        <div class="overlay"></div>
                                                        <div class="inner">
                                                            <span class="cf-inner_title color-bg">Read more</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!--card item end -->								
                                        </div>
                                    </div>
                                    <div class="bc_dec-line_h"></div>
                                    <div class="bc_dec-line_v"></div>
                                </div>
                                <div class="section-dec fs-wrapper">
                                    <div class="section-dec-top"></div>
                                    <div class="section-dec-border"></div>
                                    <div class="section-dec-bottom"></div>
                                    <div class="section-dec-top_line"></div>
                                </div>
                                <div class="serv-dec-btn-wrap" style="bottom: -30px">
                                    <a href="#"><span>Download Brochure PDF</span><i class="fa-regular fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--section end-->
                        <div class="container">
                            <div class="post-banner-widget post-banner-widget_single " style="margin-bottom: 50px;">
                                <div class="bg-wrap-container">
                                    <div class="bg" data-bg="images/bg/1.jpg"></div>
                                    <div class="overlay"></div>
                                </div>
                                <div class="post-banner-widget_content">
                                    <h5>Participate in our loyalty program. Refer a friend and get a discount.</h5>
                                    <p> Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut  . Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis.  </p>
                                    <a href="#">Read More About Programm</a>
                                </div>
                                <div class="arrow_dec_wrap">
                                    <div class="arrow_dec"></div>
                                </div>
                            </div>
                        </div>
                        <!--section end-->				
                    </div>
                    <!-- content-box end -->
                    <div class="content-dec">
                        <div class="container">
                            <div class="content-dec-item">	<span></span>	</div>
                        </div>
                    </div>
                </div>
                <!-- content end -->
                <!-- footer -->
                <div class="height-emulator"></div>
                <footer class="main-footer">
                    <!-- footer-inner -->
                    <div class="footer-inner ">
                        <div class="container">
                            <div class="footer-inner-wrap">
                                <div class="row">
                                    <!-- footer-widget-->
                                    <div class="col-lg-4">
                                        <div class="footer-widget">
                                            <div class="footer-header fl-wrap"><span>01.</span> About US</div>
                                            <div class="footer_text  footer-box ">
                                                <p>Our team takes over everything, from an idea and concept development to realization. We believe in traditions and incorporate them within our innovations.Client is the soul of the project. Aiusmod tempor incididunt ut labore sed dolore magna .</p>
                                                <div class="footer-solcial">
                                                    <ul>
                                                        <li> <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a> </li>
                                                        <li><a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- footer-widget end-->
                                    <!-- footer-widget-->
                                    <div class="col-lg-4">
                                        <div class="footer-widget">
                                            <div class="footer-header fl-wrap"><span>02.</span> Contacts</div>
                                            <!-- footer-contacts-->
                                            <div class="footer-contacts footer-box ">
                                                <ul>
                                                    <li><span>Call:</span><a href="#">+489756412322</a></li>
                                                    <li><span>Write  :</span><a href="#">yourmail@domain.com</a></li>
                                                    <li><span>Find us : </span><a href="#">USA 27TH Brooklyn NY</a></li>
                                                </ul>
                                            </div>
                                            <!-- footer contacts end -->
                                            <a href="contact.html" class="fc_button">Get In Touch <i class="fa-light fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- footer-widget end-->
                                    <!-- footer-widget-->
                                    <div class="col-lg-4">
                                        <div class="footer-widget">
                                            <div class="footer-header "><span>03.</span> Subscribe</div>
                                            <div class="footer-box fl-wrap">
                                                <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
                                                <div class="subcribe-form ">
                                                    <form id="subscribe" class="subcribe-form_item">
                                                        <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                                                        <button type="submit" id="subscribe-button" class="subscribe-button">Send</button>
                                                        <label for="subscribe-email" class="subscribe-message"></label>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- footer-widget end-->
                                </div>
                            </div>
                        </div>
                        <!-- footer-inner end -->
                        <div class="footer-title-dec"><span>Trustbook  Construction</span> </div>
                        <div class="footer-inner_dec footer-inner_dec-left"></div>
                        <div class="footer-inner_dec footer-inner_dec-right"></div>
                    </div>
                    <!-- subbfooter -->
                    <div class="subbfooter">
                        <div class="container">
                            <div class="policy-box">
                                <span> &#169;  Trustbook 2025  /  All rights reserved. </span>
                            </div>
                            <div class="to-top-btn to-top">Back to top<i class="fal fa-long-arrow-up"></i></div>
                            <div class="subbfooter_dec"></div>
                        </div>
                    </div>
                    <!-- subbfooter end -->						
                </footer>
                <!-- footer end -->				
            </div>
            <!-- wrapper end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
    </body>
</html>